<!DOCTYPE html>
<html lang='en'> <!--set default language-->
<head>
	<meta charset="UTF-8">
	<title>CMM 19</title> 
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css"> 
	<link rel="stylesheet" href="/assets/home.css">
</head>

<body>
	<header>
	<div class="has-text-centered">
		<img src="/assets/images/logo.png" alt="" width="110" height="auto">
	</div>
	<nav class="navbar-tabs">
		<a href="#" class="navbar-item">Hades</a>
		<a href="#" class="navbar-item">Ra</a>
		<a href="#" class="navbar-item">Freyja</a>
		<a href="#" class="navbar-item">The Morrigan</a>
		<a href="#" class="navbar-item">Vishnu</a>
		<a href="#" class="navbar-item">Nezha</a>
		<a href="#" class="navbar-item">Susano</a>
		<a href="#" class="navbar-item">Anansi</a>
		<a href="#" class="navbar-item">Ishtar</a>
		<a href="#" class="navbar-item">Māui</a>
 	</header>

 <main>
 		<section class="banner">
                <div class="highlight">
                    <div class="columns">
                        <div class="column highlight-item "
                        style ="background-image: url(/assets/images/home/banner/highlight.jpg);">
                        	<div class="column is-size-1 has-text-weight-bold has-text-centered has-text-light highlight-item">
                        		<h1>Hell0</h1>
                            </div>
                        </div>
                    </div>
                </div>

 			<div class ="thumbnail">
				<div class= "columns is-marginless">
					<div class="column thumbnail-item is-paddingless"
						style ="background-image: url(/assets/images/home/banner/thumbnail-1.jpg);">
						<div class="column is-size-1 has-text-weight-bold has-text-centered has-text-light highlight-item">
						I
						</div>
			 	    </div>    

			 		 <div class="column thumbnail-item is-paddingless"
			 			style ="background-image: url(/assets/images/home/banner/thumbnail-2.jpg);">
						<div class="column is-size-1 has-text-weight-bold has-text-centered has-text-light highlight-item">
			 			II
			 			</div>
			 	    </div>   

			 		 <div class="column thumbnail-item is-paddingless"
			 			style ="background-image: url(/assets/images/home/banner/thumbnail-4.jpg);">
						<div class="column is-size-1 has-text-weight-bold has-text-centered has-text-light highlight-item">
			 			III
			 			</div>
			 	    </div>   

			 	    <div class="column thumbnail-item is-paddingless"
			 			style ="background-image: url(/assets/images/home/banner/thumbnail-5.jpg);">
			 			<div class="column is-size-1 has-text-weight-bold has-text-centered has-text-light highlight-item">
			 			VI
			 			</div>
			 	    </div> 
			 	</div>
			</div> 	  
 	</section>

 		<section class="section we-present">
 			<div class="container">
 				<div class="columns">
 					<div class="column has-text-left">
 					<a href="#">LASTET</a>
 					</div>
					<div class="column has-text-centered">
 					<a href="#">WE PRESENT</a>
 					</div>
 					<div class="column has-text-right">
 					<a href="#">SEARCH</a>
 					</div>
 				</div>
 			</div>

 			<div class="columns is-multiline">
<a href="#" class="column is-one-third">
 					<div class="card">
 						<div class="card-image">
 							<figure class="image is-3by2">
 								<img src="/assets/images/home/we-preset/img-4.jpg" alt="image-4">
 							</figure>
 						</div>
 			<div class="card-content">
 				<h5 class="category">Public Space</h5>
 				<h3 class="title is-spaced is-4">โอ้ชีวิตมีอะไรตั้งเยอะแยะ</h3>
 				<h4 class="subtitle is-6">น้าแอ๊ด ไม่ได้กล่าว</h4>
 				<p>
 					แม้ในข้างคืนเดือนดาวอันมืดมิด  ยังมีสิทธิ์คิดฝันอันเฉิดฉาย  ดุจแสงเทียนนำทางสว่างไกล  ดุจหิ่งห้อยพร่างพรายในค่ำคืน ยืนเดียวดายในความกลัวหลอกตัวเอง เท่ากับเร่งรัดไปสู่ความล้มเหลว ยังมิทันได้ลงมือทำดีเลว กลับถูกเปลวไฟความกลัวเผาตัวตน
 				</p>
 			</div>
 		</div>
</a>	

<a href="#" class="column is-one-third">
 					<div class="card">
 						<div class="card-image">
 							<figure class="image is-3by2">
 								<img src="/assets/images/home/we-preset/img-1.jpg" alt="image-1">
 							</figure>
 						</div>
 			<div class="card-content">
 				<h5 class="category">Public Spac</h5>
 				<h3 class="title is-spaced is-4">กรีดแขนก็ไม่ช่วยอะไร</h3>
 				<h4 class="subtitle is-6">พี่ตูน ไม่ได้กล่าว</h4>
 				<p>
 					ภาวนาให้ใจที่เจ็บจงเข้มแข็ง แม้มันจะไร้เรี่ยวแรง จะฝืนลุกยืนให้ไหว คนคนเดียวมันไม่มีสิทธิ์ขนาดนั้น ไม่ทำให้ช้ำถึงตายยังไงต้องรับให้ได้
 				</p>
 			</div>
 		</div>
</a>	

<a href="#" class="column is-one-third">
 					<div class="card">
 						<div class="card-image">
 							<figure class="image is-3by2">
 								<img src="/assets/images/home/we-preset/img-2.jpg" alt="image-2">
 							</figure>
 						</div>
 			<div class="card-content">
 				<h5 class="category">Public Spac</h5>
 				<h3 class="title is-spaced is-4">มีเราเพียงเท่านั้น มีเธอและมีฉัน</h3>
 				<h4 class="subtitle is-6">ว่าน ไม่ได้กล่าว</h4>
 				<p>
 					เอามือไปแตะหน้าผากว่าตัวร้อนไหม เอาเธอมากอดข้างกาย ไม่แบ่งใครๆ มีเราเพียงเท่านั้น มีเธอและมีฉัน อยู่ในวันสำคัญ ของเรา
 				</p>
 			</div>
 		</div>
</a>	

<a href="#" class="column is-one-third">
 					<div class="card">
 						<div class="card-image">
 							<figure class="image is-3by2">
 								<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
 							</figure>
 						</div>
 			<div class="card-content">
 				<h5 class="category">Public Spac</h5>
 				<h3 class="title is-spaced is-4">ฟังสำเนียง เสียงเพลงบ้านนา</h3>
 				<h4 class="subtitle is-6">พี สะเดิด ไม่ได้กล่าเอาไว้</h4>
 				<p>
 					..เรื่องสุรา ควรหงิ่นมาจั๊กหน่อย ตะเว็นค่ำคล้อย เฮาก็ถอยเลิกรา มื้อหน้ามีโอกาสดีจะมา บ่ลืมแก้วตา
 				</p>
 			</div>
 		</div>
</a>	

<a href="#" class="column is-one-third">
 					<div class="card">
 						<div class="card-image">
 							<figure class="image is-3by2">
 								<img src="/assets/images/home/we-preset/img-6.jpg" alt="image-6">
 							</figure>
 						</div>
 			<div class="card-content">
 				<h5 class="category">Public Spac</h5>
 				<h3 class="title is-spaced is-4">สายลมย่อมเปลี่ยนทิศ</h3>
 				<h4 class="subtitle is-6">พี่เจ๋ง ไม่ได้กล่าว</h4>
 				<p>
 					ชีวิตหนึ่งกำลังเริ่มใหม่ ชีวิตหนึ่งกำลังว่างเปล่า ความรู้สึกช่างทรมาณและโหดร้าย
 				</p>
 			</div>
 		</div>
</a>	

<a href="#" class="column is-one-third">
 					<div class="card">
 						<div class="card-image">
 							<figure class="image is-3by2">
 								<img src="/assets/images/home/we-preset/img-5.jpg" alt="image-5">
 							</figure>
 						</div>
 			<div class="card-content">
 				<h5 class="category">Public Spac</h5>
 				<h3 class="title is-spaced is-4">ให้เธอสัมผัสความคิดที่ฉันทิ้งไว้</h3>
 				<h4 class="subtitle is-6">สแตมป์ ไม่ได้กล่าว</h4>
 				<p>
 					อยากเจอเธอเหลือเกิน เพราะก่อนที่เราต้องเดินแยกทาง ฉันมีความคิดหลายๆ อย่าง ที่ฉันไม่ได้พูดไป
 				</p>
 			</div>
 		</div>
</a>		

 		</section>
 	</section>
 </main>
</body>
</html>